$light-gray: #F6F6F6;
$light-smoke: #d9d9d9;
$medium-gray: #928E8E;
$bright-orange: #F89B1C;
$pale-gray: #f2f2f2;
$dark-gray: #333;
$dark-blue: #1C3041;
$teal-blue: #376184;
$steal-blue: #4982B4;
$aqua: #2FE6DE;
$apricot: #fbcd8d;
$midnight-blue: #15232b; 
$light-steel: #BCC1C5;
$inter: Inter;
