

.BodyMain {
    height: auto;
    width: 100%;

    &-radio {
        background: $point-baground;
        border-radius: 15px;
        -webkit-clip-path: circle(150px at 80% 20%);
        clip-path: circle(150px at 80% 20%);
        content: "";
        height: 100%;
        left: 0;
        top: 0;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        width: 100%;
        z-index: 0;
    }

    .BodyMain-card:hover &-radio {
        background: #d6d57f;
        border-radius: 15px;
        -webkit-clip-path: circle(151px at 132% 65%);
        clip-path: circle(252px at 68% -5%);

        content: "";
        height: 304%;
        left: 0;
        top: 0;
        -webkit-transition: all -20.7s ease-out;
        transition: all 0.3s ease-in-out;
        width: 100%;
        z-index: 0;
    }

    &-title {
        align-items: center;
        color: $text-white;
        color: $title-sky-color;
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }

    &-container {
        align-items: center;
        display: flex;
        gap: 24px;
        height: 502px;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 82px;
        max-width: 1140px;
        position: relative;
    }

    &-card {
        align-items: center;
        background-color: $text-black;
        border-radius: 15px;
        flex-direction: column;
        height: 435px;
        justify-content: center;
        min-width: 356px;
        position: relative;
        width: 356px;

        &-shoes {
            bottom: 273px;
            margin-left: 33px;
            position: absolute;
            transform: rotate(-25deg);
            transform: scale(1) rotate(-25deg);
            width: 255px;
        }

        &-efects {
            transform: scale(1.25) rotate(-25deg);
            -webkit-transition: all 0.9s ease; 
            -moz-transition: all 0.9s ease; 
            -o-transition: all 0.9s ease; 
            -ms-transition: all 0.9s ease; 
        }
    }

    &-text {
        bottom: 87px;
        display: flex;
        justify-content: center;
        position: absolute;
        width: 100%;

        &-title {
            bottom: -6px;
            color: $text-white;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 30px;
            font-weight: 800;
            position: absolute;
            transition: bottom 0.5s ease;
        }

        .BodyMain-card:hover &-title {
            bottom: 85px;
        }

        &-button {
            bottom: -61px;
            display: flex;
            justify-content: center;
            left: 0;
            opacity: 0;
            position: absolute;
            right: 0;
            transform: translateY(100%);
            transition: opacity 0.5s, transform 0.5s;
        }
    }

    &-paragraph {
        bottom: -6px;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        font-weight: 800;
        position: absolute;
    }
}


.cards-container {
    display: flex;
    gap: 9px;
    max-width: 1087px;
    overflow: hidden;
    
}


.buttons-container {
    bottom: -61px;
    display: flex;
    justify-content: center;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    transform: translateY(100%);
    transition: opacity 0.5s, transform 0.5s;
}

.slide-from-bottom {
    background-color: $text-white;
    border: none;
    border-radius: 8px;
    color: $text-black;
    cursor: pointer;
    font-weight: 800;
    margin: 5px;
    padding: 10px 20px;
}

.buttons-container.active {
    opacity: 1;
    transform: translateY(0);
}

.parrafo {
    align-items: center;
    bottom: 43px;
    color: $text-white;
    color: $text-white;
    display: flex;
    justify-content: center;
    position: absolute;
}

.parrafo-1 {
    align-items: center;
    bottom: 17px;
    color: $text-white;
    color: $text-white;
    display: flex;
    justify-content: center;
    position: absolute;
}

.parrafo-1-0 {
    align-items: center;
    bottom: -18px;
    color: $text-white;
    color: $text-white;
    display: flex;
    font-weight: 700;
    gap: 3px;
    justify-content: center;
    position: absolute;
}

.parrafo-1-1 {
    color: $color-green-dark;
    display: flex;
    font-size: 30px;
    gap: 5px;
    margin-top: 5px;
}

.parrafo-1-2 {
    text-decoration: line-through;
}

.parrafo,
.parrafo-1,
.parrafo-1-0 {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.BodyMain-card:hover .parrafo-visible,
.BodyMain-card:hover .parrafo-1-visible,
.BodyMain-card:hover .parrafo-1-0-visible {
    opacity: 1;
}

.buttons-container {
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.5s, transform 0.5s;
}

.BodyMain-card:hover .buttons-container {
    opacity: 1;
    transform: translateY(0);
}

.parrafo,
.parrafo-1,
.parrafo-1-0 {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.BodyMain-card:hover .parrafo-visible,
.BodyMain-card:hover .parrafo-1-visible,
.BodyMain-card:hover .parrafo-1-0-visible {
    opacity: 1;
}

.stars {
    color: $default-color-dark-orange;
}

.carousel-btn {
    background: transparent;
    border: none;
    color: black;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.carousel-btn.prev {
    left: 10px;
}

.carousel-btn.next {
    right: 10px;
}


