.Style {
    display: flex;
    justify-content: center;
    padding: 50px 0;
    width: 100%;

    &-container {
        display: flex;
        gap: 20px;
        justify-content: center;
        max-width: 1108px;
        overflow: hidden;

        &-text {
            display: flex;
            flex-direction: column;
            letter-spacing: 1px;
            padding: 15px;
            // bottom: 130px;
            position: absolute;
            top: 375px;
        }
    }

    &-previous {
        background: #0000;
        border-radius: 4px;
        box-shadow: 1px 2px 15px 2px rgba(0, 0, 0, 0.14);
        color: #2c5364;
        cursor: pointer;
        display: inline-block;
        font-size: 16px;
        height: 40px;
        left: 374px;
        line-height: 1;
        margin: 0;
        // position: relative;
        position: absolute;
        top: 250px;
        transform: translate(0, -50%);
        transition: all 0.4s ease;
        width: 40px;
        z-index: 1;
    }

    &-next {
        background: #0000;
        border-radius: 4px;
        box-shadow: 1px 2px 15px 2px rgba(0, 0, 0, 0.14);
        color: #2c5364;
        cursor: pointer;
        display: inline-block;
        font-size: 16px;
        height: 40px;
        line-height: 1;
        margin: 0;
        // position: relative;
        position: absolute;
        right: 374px;
        top: 250px;
        transform: translate(0, -50%);
        transition: all 0.4s ease;
        width: 40px;
        z-index: 1;
    }

    &-shoes-box {
        align-items: center;
        background: black;
        background-color: #000909;
        border-radius: 15px;
        // justify-content: center;
        display: flex;
        flex-direction: column;

        height: 438px;
        min-width: 356px;
        // width: 25%;
        width: 356px;
    }

    &-circle {
        background: #d6d57f;
        border-radius: 15px;
        -webkit-clip-path: circle(150px at 80% 20%);
        clip-path: circle(150px at 80% 20%);
        content: "";
        height: 100%;
        left: 0;
        top: 0;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        width: 100%;
    }

    &-shoes {
        margin-left: 33px;
        position: absolute;
        // bottom: 232px;
        top: 103px;
        -webkit-transform: rotate(-25deg) scale(1);
        -webkit-transition: 0.5s;
        width: 277px;
    }

    &-nike {
        // bottom: 130px;
        color: $white;
        font-size: 30px;
        font-weight: 600;
        // position: relative;
    }

    &-active{
        display: none;
    }
}
