.Style {
    width: 100%;

    padding: 50px 0;

    &-shoes-box {
        background: black;
        width: 25%;
        height: 170px;
        margin-right: auto;
        margin-left: auto;
        padding: 10px;
    }
}
